html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
p {
  color: #8f8f8f;
}

.container-fluid {
  /* For most of the r/l padding on the site */
  padding: 7% 15%;
}
.big-header {
  /* Top h1 */
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  /* for each sections title */
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
.features-heading {
  font-weight: 700;
  font-size: 1.5rem;
}
.pricing-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.color-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-weight: 400;
  font-size: 1.2rem;
}

/* Download Bar */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features */

#features {
  position: relative;
}

.icon-feature {
  color: #ef8172;
  padding-bottom: 10%;
}

.icon-feature:hover {
  color: #ff4c68;
}

/* Testiomnial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
}

.press-img {
  width: 20%;
  min-width: 150px;
  margin: 20px 20px 50px 20px;
}

.pricing-column {
  padding: 3% 2%;
}
.pricing-header {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
.cta-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  padding-left: 15%;
  padding-right: 15%;
}
.icon-footer {
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 1rem;
}
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title .container-fluid {
    text-align: center;
  }
}
